<h1>Restaurants</h1>

<ul id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <li><%= restaurant.name %></li>
    <li><%= restaurant.address %></li>
    <li><%= restaurant.phone_number %></li>
    <li><%= ["chinese", "italian", "japanese", "french", "belgian"].sample %></li>
  <% end %>
</ul>
